body{

    margin:0;

    background:#dbe2ea;

    font-family:
    "Times New Roman",
    serif;
}

.documento{

    width:210mm;

    min-height:297mm;

    margin:20px auto;

    background:white;

    padding:25mm;

    box-sizing:border-box;
}

.cabecalho{

    display:flex;

    align-items:flex-start;

    justify-content:space-between;
}

.logo{

    width:85px;
}

.cabecalho-texto{

    flex:1;

    text-align:center;

    padding:0 20px;
}

.cabecalho-texto p{

    margin:0;

    font-size:14px;
}

.cabecalho-texto h1{

    margin:3px 0;

    font-size:20px;

    font-weight:bold;
}

.cabecalho-texto h2{

    margin:3px 0;

    font-size:18px;

    font-weight:bold;
}

.cabecalho-texto span{

    display:block;

    font-size:13px;

    margin-top:2px;
}

hr{

    border:none;

    border-top:1px solid black;

    margin:15px 0 25px;
}

.titulo-documento{

    text-align:center;

    margin-bottom:35px;
}

.titulo-documento h1{

    font-size:20px;

    text-transform:uppercase;

    margin:0;
}

.identificacao{

    margin-bottom:30px;

    font-size:16px;
}

.identificacao p{

    margin:8px 0;
}

.texto-relatorio{

    text-align:justify;

    font-size:16px;

    line-height:1.8;
}

.texto-relatorio p{

    margin-bottom:20px;

    text-indent:40px;
}

.tabela-atividades{

    margin-top:40px;
}

table{

    width:100%;

    border-collapse:collapse;

    font-size:15px;
}

table th,
table td{

    border:1px solid black;

    padding:10px;

    text-align:left;
}

table th{

    background:#f3f3f3;
}

.assinaturas{

    margin-top:90px;

    display:flex;

    justify-content:space-between;

    text-align:center;

    font-size:15px;
}

.assinaturas div{

    width:40%;
}

.print-button{

    text-align:center;

    margin:20px;
}

.print-button button{

    padding:12px 24px;

    border:none;

    background:black;

    color:white;

    cursor:pointer;

    font-size:15px;
}

.cabecalho-imagem{

    width:100%;

    margin-bottom:35px;

    border:none;

    outline:none;
}

.cabecalho-imagem img{

    width:100%;

    display:block;

    border:none;

    outline:none;
}

@media print{

    body{

        background:white;
    }

    .print-button{

        display:none;
    }

    .documento{

        margin:0;

        width:100%;

        min-height:auto;

        padding:20mm;
    }
}